
body {
	max-width: 960px;
	background-color:#e5e5e5;
	font-family: 'Libre Franklin', sans-serif;

	}

 
 }

.wrapper {
	padding-left: 100px;
	padding-right: 50px;
	
}
.header {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	margin: 0;
	border: 20px;
	background-color: #ffe761;
}


	

.header h1 {
	font-family: 'Libre Franklin', sans-serif;
	text-align:center;
	font-size: 50px;
	background-color: #000;
	width: 425px;
	height: 50px;
	color: white;
	font-weight: bold;
	padding: 20px;
	border: 20px 20px 40px 20px;
	margin: 20px,20px -20px 40px;
	margin-left: 4%;
	float: left;
}
.header nav ul {

    overflow: hidden;
    background-color: #333;
    
}

.header li {
	padding: 18px;
	list-style-type: none;
    float: right;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;



}

 .header li a {
    color: black;
    text-align: center;
    text-decoration: none;

}

.main 
	{
	float: right;
	font-size: 18px;
	background-color: white;
	top:300px;
	height: 400px;
	width: 500px;
	margin: 200px;
	margin-right: 42%;
	position:static;

	
}

.main header {

	background-color: #ffe761;
	font-size: 16px;
	font-weight: bold;
	padding: 30px;
	width: 440px;
	margin: 0;
}

.photo img {
	width: 300px;
	height: 200px;
	float:left;
	margin: 10px;

}


	
}
.me-info {
	text-align: left;
	padding:0px;
	margin-left:10px;
	border: 10px;
}

.main p {
	line-height: 20px;
	padding-top: 10px;
	margin: 1px 1px 1px 1px;
}
.rightsidebar {
	float: left;
	clear: right;	
	background-color: #ffffff;
	margin: 200px;
	height: 150px;
	margin-left: 60%;
	position: absolute;
		
	
}

.rightsidebar header {
	background-color: #ffe761;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding:20px;
	align-content: center;

}

.socialmediaicons img {
	align-content:center;
	height: 60px;
	width: 60px;
	padding:0;
	border:10px;
	margin: 5px 1px 5px 1px;
	text-align: center;

}

.footer {
	position: fixed;
	padding: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#000;
	color: white;
	

}

.contactform {
	position: fixed;
	top: 200px;
	margin-left: 4%;
	width: 550px;
	height:400px;
	max-width: 600px;
	background-color: white;
	font-family: "Libre Franklin", sans-serif;
	padding: 25px 15px 25px 10px;
	border: 2px solid black;
	font-size: 12px;
	float: left;
	clear: right;
}

.contactform h1{
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
	display: block;
	background-color: #ffe761;
	border-bottom: 2px solid black;
	margin: -25px -15px -15px -10px;
	color: black;
}

.contactform h1>span {
	display: block;
	font-size: 18px;
}

.contactform label {
	display: block;
}

.contactform label>span 
{
	float: none;
	width: 20%;
	text-align: right;
	margin: 14px;
	color: black;
	font-weight: bold;
	clear: both;

}

.contactform input[type="text"],input [type="email"], textarea{
	border: 1px solid #dedede;
	height:30px;
	width:70%;
	font-size: 12px;
	border-radius: 3px;
	margin: 25px;

}

.contactform textarea {
	height: 120px;

}

.contactform input[type="submit"]{
	background: #ffe761;
	font-weight: bold;
	border: none;
	padding: 8px 20px 8px 20px;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 4px;
}

.contactform input[type="submit"] :hover{
	background: red;
	color: yellow;
}

.portfolio {
	float: left;
	clear: both;
	
	
}
figure {
	display: inline-block;
	vertical-align: bottom;
	width: 210px;
	margin: 0px 10px 10px 10px;
}
 figure img {
	border: 1px;
	background-color: #fff;
	padding: 4px;
	
}

 figcaption {
 	font-family: "Libre Franklin", sans-serif;
 	font: 1.1em;
 	text-align:center;
 	margin: 10px 0 0 0;
 }

 #photo {
	float: right;
	clear: both;
	margin-left: 20%;
	height: 650px;
	width: 600px;
	margin: 200px 10px;
	margin-right: 35%;
	border: 5px;
}
 .footer p {
 	text-align: center;
 }


